<div class="reservations-container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Liste des Réservations</h2>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Utilisateur</th>
        <th>Numéro de Salle</th>
        <th>Date de Début</th>
        <th>Date de Fin</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.name }}</td>
        <td>{{ reservation.userId }}</td>
        <td>{{ reservation.numSalleId }}</td>
        <td>{{ reservation.dateDebutReservation | date : "short" }}</td>
        <td>{{ reservation.dateFinReservation | date : "short" }}</td>
        <td>
          <button
            class="btn btn-sm btn-warning me-2"
            (click)="viewReservation(reservation._id)"
          >
            View
          </button>
          <button
            class="btn btn-sm btn-danger"
            (click)="deleteReservation(reservation._id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
