<div class="edit-salle-container">
  <h2>Editer une Salle</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="salleForm">
    <label for="numSalle">Numéro de Salle:</label>
    <input id="numSalle" formControlName="numSalle" type="number" />

    <label for="name">Nom:</label>
    <input id="name" formControlName="name" type="text" />

    <label for="capacity">Capacité:</label>
    <input id="capacity" formControlName="capacity" type="number" />

    <label for="isAvailable">Disponible:</label>
    <input id="isAvailable" formControlName="isAvailable" type="checkbox" />

    <button type="submit">Mettre à jour</button>
  </form>
</div>
