<div class="view-user-container">
  <div class="card shadow-sm">
    <div class="card-header text-center">
      <h2>Détails de l'Utilisateur</h2>
    </div>
    <div class="card-body">
      <div *ngIf="user">
        <p><strong>Nom:</strong> {{ user.name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Admin:</strong> {{ user.isAdmin ? "Oui" : "Non" }}</p>
      </div>

      <h2>Réservations</h2>
      <div *ngIf="reservations && reservations.length > 0; else noReservations">
        <ul>
          <li *ngFor="let reservation of reservations">
            <p><strong>Nom:</strong> {{ reservation.name }}</p>
            <p><strong>Salle:</strong> {{ reservation.numSalleId }}</p>
            <p>
              <strong>Date de début:</strong>
              {{ reservation.dateDebutReservation | date : "short" }}
            </p>
            <p>
              <strong>Date de fin:</strong>
              {{ reservation.dateFinReservation | date : "short" }}
            </p>
          </li>
        </ul>
      </div>
      <ng-template #noReservations>
        <p>Aucune réservation trouvée.</p>
      </ng-template>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-primary" (click)="goBack()">Retour</button>
    </div>
  </div>
</div>
