<div class="users-container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Liste des Utilisateurs</h2>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.isAdmin ? "Oui" : "Non" }}</td>
        <td>
          <button
            class="btn btn-sm btn-warning me-2"
            (click)="viewUser(user._id)"
          >
            Afficher
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteUser(user._id)">
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
