<div class="salles-container">
  <button (click)="navigateToAddSalle()">Add Salle</button>
  <table>
    <thead>
      <tr>
        <th>Numéro de Salle</th>
        <th>Nom</th>
        <th>Capacité</th>
        <th>Disponibilité</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let salle of salles">
        <td>{{ salle.numSalle }}</td>
        <td>{{ salle.name }}</td>
        <td>{{ salle.capacity }}</td>
        <td>{{ salle.isAvailable ? 'Oui' : 'Non' }}</td>
        <td>
          <button (click)="navigateToEditSalle(salle._id)">Edit</button>
          <button (click)="deleteSalle(salle._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
